html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   .select{
       margin: 100px 100px;
         width: 260px;
         height: 30px;
         background-color: #eee;
         border:1px solid #000;
         cursor: pointer;
         position: absolute;
     }

     .select > p {
         position: relative;
        margin-top: 5px;
        margin-left: 10px;
     }
        .select > p::after{
            content: "";
            width: 0; 
            height: 0; 
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #000;
            position: absolute;
            top:7px;
            right:15px;
        }
     .contenu{
         display: block;
         background-color: #fff;
         border: 1px solid rgba(0, 0, 0, 0.3);
         position: relative;
         top: 100px;
         left: 100px;
         width: 260px;
     }
     .optgroup{
         background-color: #eee;
         padding: 5px 0;
         border: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 0;
         font-weight: bold;
         font-size: 13px;
         position: relative;
       top: 10px;
         width: 260px;
     }
     .optgroup span{
         font-size: 13px;
         color: black;
        float: left;
        transform: translateY(-5%);
     }
     .optgroup button{
         float: right ;
         border: 0;
         color: blue;
         vertical-align: middle;
         outline: 0;
         padding-bottom: 10px;

        }
     .contentsize{
        clear: both;
        background: #fff;
     }
    .size{
        border: 0;
        cursor: pointer;
    }
     .size:hover{
         background: #eee;
     }
     .size::after{
         content: "";
         background-color: rgba(0, 0, 0, 0.1);
         width: 90%;
         height: 1px;
        margin-top: 5px;
        display: block;
     }
     .size:last-child:after{
         background: transparent;
     }

     .number1{
         float: left;
         font-weight: bold;
         font-size: 13px;
        }
     .number2{
         text-align: center;
         font-size: 12px;
     }
     .number3{
         float: right;
         color: red;
         font-weight: bold;
         font-size: 13px;
         transform: translateY(-90%);
     }
 